# editor
/nbproject/private/
/nbproject/
.project
.idea

# composer
#composer.lock
composer.phar
/vendor/
/cms/

# svn
.svn

# Ignore Mac DS_Store files
.DS_Store
._*
node_modules/

# linux backup files
*~

# markup
.sass-cache
node_modules
*.map
.tmp
*.psd

# wordpress configs and uploads
/.htaccess
/.env
/wp-content/themes/twentyseventeen/
/wp-content/uploads/*

# trusted plugins
/wp-content/mu-plugins/wordpress-theme-framework/
/wp-content/plugins/wordpress-importer/
/wp-content/plugins/duplicate-post/
/wp-content/plugins/regenerate-thumbnails/
/wp-content/plugins/wordpress-seo/
/wp-content/plugins/contact-form-7/
!/wp-content/plugins/.gitkeep
!/wp-content/mu-plugins/.gitkeep
!/wp-content/uploads/.gitkeep

# File system junk files
Desktop.ini
Thumbs.db
.DS_Store
._*
.Spotlight-V100
.Trashes
.apdisk
.fseventsd

# Editor files
*.sublime-*
*.swp
.c9
.sass-cache/

# Wordpress
wp-content/*
!wp-content/themes

*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
app/*
!app/.gitkeep
app/wp-content
app/wp-includes
app/wp-admin
wp-config.php
wp-content/uploads/
!wp-content/plugins/.gitkeep
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate*
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/stop-long-comments.php
wp-content/mu-plugins/force-strong-passwords*
wp-content/mu-plugins/wpengine-common*
wp-content/mysql.sql
data/*.sql

# wp core (as of 4.9.5)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
/wp-content/themes/twentyeleven
/wp-content/themes/twentytwelve
/wp-content/themes/twentythirteen
/wp-content/themes/twentyfourteen
/wp-content/themes/twentyfifteen
/wp-content/themes/twentysixteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentynineteen
/wp-content/themes/index.php
/wp-content/plugins/index.php
/wp-content/plugins/akismet*

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

# HERE GOES YOUR THEME OR PlUGIN